body, header, div, h1, h2, h3, img, a, p, ul, li, canvas, i {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: monospace, sans-serif;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  list-style: none;
  /* border: 1px solid red !important; */
}

body {
  display: grid;
  justify-content: center;
}

header {
  position: relative;
  text-align: center;
  height: 70%;
}

header h1 {
  font-family: fantasy;
  font-size: 60px;
}

header ul {
  position: absolute;
  display: flex;
  right: 0;
  bottom: 0;
}

header ul li {
  font-size: 20px;
  color: blue;
  margin-left: 20px;
}

.game {
  position: relative;
  top: -15px;
  width: 800px;
  height: 500px;
}

#drum {
  position: absolute;
  top: 170px;
  left: 15px;
  width: 122px;
}

#fire {
  position: absolute;
  top: 15px;
  right: -45px;
  width: 140px;
}

#score {
  position: absolute;
  left: 20px;
  top: 78px;
  font-size: 30px;
  color: orangered;
  font-weight: bold;
}

#counter {
  position: absolute;
  left: 120px;
  top: 45px;
  font-size: 70px;
}

#spirit {
  position: absolute;
  font-size: 60px;
  right: 10px;
  top: 47px;
  text-shadow: -3px 0 1px white, 0 3px 1px white, 3px 0 1px white, 0 -3px 1px white;
}

.game canvas {
  border: 3px solid black;
  border-radius: 10px;
  background-image: url('gifs/bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.game .hide {
  display: none;
}

.play-pause, .music-mute {
  position: absolute;
  top: 20px;
  cursor: pointer;
}

.play-pause {
  left: 20px;
  transform: scale(1.8);
}

.music-mute {
  right: 20px;
  transform: scale(2);
}

#volume-off {
  padding: 0 10px 0 0;
}
